body{
  background-color: #2D2D2D;
  font-size: 12px;
}

#container{
  width: 800px;
  margin: 5px auto;
  padding: 5px;
  background-color: #FFFFFF;
}
#content{
  min-height: 400px;
}
#header{
  height: 50px;
  border-bottom: 2px solid #2D2D2D;
}

#footer{
  border-top: 2px solid #2D2D2D;
  text-align: center;
}
