body {
  background-color: #2D2D2D;
	font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
}


/* Clases generales */
.big {
	font-size: 1.2em;
}

.biggest {
	font-size: 2em;
}

.button_image {
	border:0 none;
	cursor:pointer;
	margin:0;
	padding:0;
	text-indent:-1000em;
}

.clear {
	clear:both;
}

.centered {
	text-align: center;
}

.input_big {
	font-family:arial,helvetica,sans-serif;
	font-size:1.6em;
	padding:2px;
	width: 155px;
}

.underline{
  text-decoration: underline;
}

.table_center{
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}

a {
	color:#555;
}

a:visited {
	color:#444;
}

a:hover {
	color:#000;
	text-decoration: none;
}

img {
	border: 0px;
}

input[type="text"] {
	width: 150px;
}

fieldset {
	/* -moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px; */
	border:1px solid #CCCCCC;
	margin:15px 3px;
}

legend {
  color:#666666;
  font-size:1.5em;
}

td.medium {
	text-align:center;
	width: 150px;
}
td.description {
	text-align: center;
	padding: 5px;
	width: 230px;
}

tr.bordered th {
		border-bottom: 2px solid #666;
}

tr.odd {background-color:#eee; height:65px;}
tr.even {background-color:#ddd; height:65px;}



/* Header */
#header #logo {
	background:transparent url(/images/logo2.png) no-repeat scroll 0 0;
	float:left;
	height:66px;
	width:199px;
}

#header {
  border-bottom: 2px solid #2D2D2D;
  height: 70px;
}

#header span.title {
	font-size: 2.5em;
}

#header span.slogan {
	letter-spacing: 0.3em;
	margin-left: 3px;
}

#user-bar{
  border: 1px solid #666;
	background-color: #ddd;
	float: right;
	padding: 10px;
	text-align:right;
}

#last_planets{
  margin-top: 40px;
	margin-left: 10px;
  width: 330px;
}

#last_planets_header{
  text-align: right;
	color: #666;
	font-size: 1.3em;
	font-weight: bolder;
}

#last_planets_planets{
	background-color: #eee;
	border: 2px solid #666;
	color:#333;
	float: left;
	margin-top: -5px;
	margin-bottom: 3px;
	padding: 10px;
	width:306px;
}

#last_planets #more {
	font-size: 0.9em;
	text-align:right;
	width:100%;
}

 #last_planets #last_planets_planets .planet_item{
	float: left;
  width: 150px;
  text-align: center;
}

/* Wrapper #container */
#container {
  background-color: #FFFFFF;
  margin: 5px auto;
  padding: 5px;
  width: 800px;
}


/* Content */
#content, #header, #footer{
	margin: 0px 15px 0px 15px;
}

#content {
	margin-top: 10px;
  min-height: 400px;
}

#content #breadcrumb{
	background-color: #fff8e8;
  float:right;
	font-size: 0.9em;
	padding: 3px;
}

#content .pagination {
	clear: both;
	float: right;
	margin-top: 10px;
	margin-right: 70px;
}
/* CONTENT - <HOME> */
#content #home {
	float:left;
}

#content #home #image {
	float:left;
	margin: 15px 0px 15px 25px;
	width:360px;
}

#content #home #text {
	float: left;
	margin: 50px 0px 0px 35px;
	width: 350px;
}

#content #home #text span.big {
	font-size: 16px;
}

#content #home #text span.medium {
	font-size: 15px;
}

#content #home #text .big a {
	font-size: 2em;
}
/* CONTENT - </HOME> */


/* Registro */

#content .form {
	margin:0 auto;
}

#content .form div {
	margin-bottom: 10px;
}

#content .form-register {
	margin-top: 40px;
	width: 250px;
}

#content .form-profile {
	width: 435px;
}

#content .fields {
	padding-left: 30px;
}

#content .fields .left {
	float: left;
	margin-right: 20px;
}

#content .fields .right {
	float: left;
}


/* Planetas */

#content #first_planet,
#content #first_subscription {
	text-align: center;
	padding-top: 100px;
	width: 100%;
}

#content .form-planet {
	width: 340px;
}

#content .planet {
	/*-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;*/
	border: 2px solid #666;
	background-color: #eee;
	float: left;
	margin: 10px 0px 10px 40px;
	padding: 15px;
	height: 120px;
	width: 280px;
}

#content .planet .planet_description {
	min-height: 60px;
	padding-left: 10px;
}

#content .planet .planet_options {
	text-align: right;
}

#content #planet #planet_posts {
	margin: 0 auto;	
	margin-top: 20px;
	width: 655px;
}

#content #planet #planet_posts .post_title {
	float:left;
}

#content #planet #planet_posts .post_date {
	float:right;
	font-size: 0.9em;
}

#content #planet #planet_posts .post_content {
	padding: 20px;
	padding-bottom: 0px;
}

#content #planet #planet_posts .favourite {
	margin-top: 10px;
}

#content #planet #planet_posts .post_more {
	margin-top: 10px;
	float:right;
}

/* Subscripciones */
#content .form-suscription {
	width: 340px;
}

#content #suscriptions {
	padding-top: 20px;
}

#content #div_url input[type="text"] {
	width: 200px;
} 

/* Posts */
#content .post {
	/*-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;*/
	border: 2px solid #666;
	background-color: #eee;
	margin: 10px;
	margin-bottom: 20px;
	padding: 15px;
	width: 600px;
}


#footer {
  border-top: 2px solid #2D2D2D;
  text-align: center;
	margin-top: 5px;
	padding: 10px;
}

#footer p {
	margin-top: 0px;
	margin-bottom: 0px;
}

/*Flash Messages*/
#flash, #validation_errors {
  border: 2px solid #ddd;
  margin: 1em;
  text-align: left;
  padding: .8em;
}

#flash.notice {
  background:#dffbc7;
  border-color:#6ca53a;
  color:#4b7f1d;
}

#flash.error, #validation_errors {
  background:#FBE3E4;
  border-color:#FBC2C4;
  color:#8a1f11;
}

#validation_errors{
  text-align: left;
}

